<mat-card>
  <mat-toolbar color="primary">Pokemon Details</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form">
      <!-- stats -->
      <div class="row">
        <mat-form-field class="column padding-10">
          <mat-label>HP</mat-label>
          <input matInput formControlName="hp" #hp type="number" />
          @if (form.get('hp')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "hp") }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>ATTACK</mat-label>
          <input matInput formControlName="attack" #hp type="number" />
          @if (form.get('attack')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "attack") }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>DEFENSE</mat-label>
          <input matInput formControlName="defense" #hp type="number" />
          @if (form.get('defense')?.invalid) {
          <mat-error>{{
            formUtils.getErrorMessage(form, "defense")
          }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column padding-10">
          <mat-label>SPECIAL ATTACK</mat-label>
          <input matInput formControlName="specialAttack" #hp type="number" />
          @if (form.get('specialAttack')?.invalid) {
          <mat-error>{{
            formUtils.getErrorMessage(form, "specialAttack")
          }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>SPECIAL DEFENSE</mat-label>
          <input matInput formControlName="specialDefense" #hp type="number" />
          @if (form.get('specialDefense')?.invalid) {
          <mat-error>{{
            formUtils.getErrorMessage(form, "specialDefense")
          }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>SPEED</mat-label>
          <input matInput formControlName="speed" #hp type="number" />
          @if (form.get('speed')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "speed") }}</mat-error>
          }
        </mat-form-field>
      </div>
      <!-- name -->
      <div class="row">
        <mat-form-field class="column padding-10">
          <mat-label>French</mat-label>
          <input matInput formControlName="nameFr" />
          @if (form.get('nameFr')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "nameFr") }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>English</mat-label>
          <input matInput formControlName="nameEn" />
          @if (form.get('nameEn')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "nameEn") }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>Japanese</mat-label>
          <input matInput formControlName="nameJp" />
          @if (form.get('nameJp')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "nameJp") }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="column padding-10">
          <mat-label>Chinese</mat-label>
          <input matInput formControlName="nameCh" />
          @if (form.get('nameCh')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "nameCh") }}</mat-error>
          }
        </mat-form-field>
      </div>
      <!-- image -->
      <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Image</mat-label>
          <input matInput formControlName="image" />
          @if (form.get('image')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "image") }}</mat-error>
          }
        </mat-form-field>
      </div>
      <!-- slug, sprite, pokedexId -->
      <div class="row">
        <mat-form-field class="column padding-10">
          <mat-label>Slug</mat-label>
          <input matInput formControlName="slug" />
          @if (form.get('slug')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "slug") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="column padding-10">
          <mat-label>Sprite</mat-label>
          <input matInput formControlName="sprite" />
          @if (form.get('sprite')?.invalid) {
          <mat-error>{{ formUtils.getErrorMessage(form, "sprite") }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="column padding-10">
          <mat-label>PokedexId</mat-label>
          <input matInput formControlName="pokedexId" type="number" />
          @if (form.get('pokedexId')?.invalid) {
          <mat-error>{{
            formUtils.getErrorMessage(form, "pokedexId")
          }}</mat-error>
          }
        </mat-form-field>
      </div>
      <!-- types -->
      <div formArrayName="types">
        @for (type of typesForms.controls; track type; let i=$index) {

        <div [formGroupName]="i" class="row">
          <mat-form-field class="column padding-10">
            <mat-label>Name {{ i + 1 }}</mat-label>
            <input matInput formControlName="name" />
            @if (form.get('name')?.invalid) {
            <mat-error>{{ formUtils.getErrorMessage(form, "name") }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="column padding-10">
            <mat-label>Image {{ i + 1 }}</mat-label>
            <input matInput formControlName="image" />
            @if (form.get('image')?.invalid) {
            <mat-error>{{
              formUtils.getErrorMessage(form, "image")
            }}</mat-error>
            }
          </mat-form-field>

          <button
            mat-icon-button
            color="warn"
            (click)="deleteTypes(i)"
            class="padding-10"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
      <button mat-icon-button color="accent" (click)="addTypess()">
        <mat-icon>add</mat-icon>
      </button>
      <!-- evolutions -->
      <div formArrayName="evolutions">
        @for (evolution of evolutionsForms.controls; track evolution; let
        i=$index) {

        <div [formGroupName]="i" class="row">
          <mat-form-field class="column padding-10">
            <mat-label>Name {{ i + 1 }}</mat-label>
            <input matInput formControlName="name" />
            @if (form.get('name')?.invalid) {
            <mat-error>{{ formUtils.getErrorMessage(form, "name") }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="column padding-10">
            <mat-label>PokedexId {{ i + 1 }}</mat-label>
            <input matInput formControlName="pokedexId" type="number" />
            @if (form.get('pokedexId')?.invalid) {
            <mat-error>{{
              formUtils.getErrorMessage(form, "pokedexId")
            }}</mat-error>
            }
          </mat-form-field>

          <button
            mat-icon-button
            color="warn"
            (click)="deleteEvolutions(i)"
            class="padding-10"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
      <button mat-icon-button color="accent" (click)="addEvolutions()">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="submit()" type="submit">
      Save
    </button>
    <button
      mat-raised-button
      (click)="onCancel()"
      class="btn-space"
      type="button"
      color="warn"
    >
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
<div class="spacer"></div>
