.pokemon-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centrage horizontal */
  max-width: 800px; /* Largeur maximale */
}

.pokemon-image {
  width: 100%;
  border-radius: 10px;
}

.pokemon-header {
  display: flex;
  align-items: center;
}

.pokemon-name {
  font-size: 24px;
  color: #333;
}

.pokemon-stats {
  margin-top: 20px;
}

.stat {
  display: flex;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  font-weight: normal;
}

.pokemon-types {
  margin-top: 20px;
}

.type {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.type img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.pokemon-evolutions {
  margin-top: 20px;
}

.evolution {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.evolution img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
