<form [formGroup]="signinForm" (ngSubmit)="signin()">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <main appHoverDialog>Exple of admin account</main>
  <mat-form-field appearance="fill" class="padding-10">
    <mat-label>Username</mat-label>
    <input
      matInput
      formControlName="username"
      placeholder="Enter your username"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="padding-10">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Enter your password"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="signinForm.invalid"
    class="padding-10"
  >
    Sign In
  </button>
</form>
